body {
  margin: 0;
  font-family: Muli, sans-serif;
  font-weight: 200;
  background-color: #fff;
  padding: 20px;
}

#wrapper {
  max-width: 800px;
  min-width: 300px;
}

h1, h2 {
  font-weight: 200;
  margin-top: 30px;
}

p {
  font-size: 1.1rem;
  line-height: 1.3rem;
}

a {
  color: #42a4e2;
}
