body {
  margin: 0;
  background-image: url(images/slack.jpg);
  font-family: Muli, sans-serif;
  font-weight: 200;
}

.hands {
  background-image: url(images/prayer-hands.png);
  background-repeat: no-repeat;
  height: 461px;
  position: fixed;
  right: 0;
  bottom: 0;
  opacity: 0.8;
  width: 30%;
}

h3 {
  font-size: 2rem;
  margin: 0;
  font-weight: 200;
  background-color: rgba(255, 255, 255, 0.75);
  display: inline-block;
  clear: both;
  float: left;
  padding: 10px 10px 0 10px;
}

section {
  width: 65vw;
  max-width: 500px;
  min-width: 200px;
}

section, ul {
  float: left;
  clear: both;
}

section li a {
  line-height: 1.2rem;
}

section li {
  margin: 8px 0;
}

section > p {
  background-color: rgba(1, 1, 1, 0.7);
  color: #fff;
  font-size: 1.1rem;
  line-height: 1.3rem;
  padding: 10px;
}

.footnote {
  float: left;
  clear: both;
}

p.footnote {
  background-color: rgba(255, 255, 255, 0.7);
  color: #111;
  font-weight: 400;
  margin-top: 0;
}

sup {
  color: #f0f;
  font-size: 1.5rem;
  line-height: 1.1rem;
}

h1 > a {
  background-color: #111;
}

ul {
  list-style-type: none;
  margin: 0 0 0 17px;
  padding: 10px;
  background-color: rgba(1, 1, 1, 0.7);
  display: inline-block;
}

a, span {
  color: #ddd;
  text-decoration: none;
  line-height: 1.5rem;
  font-size: 1rem;
  display: block;
  padding: 2px 10px;
}

a:hover {
  color: #111;
  background-color: rgba(134, 255, 185, 0.8);
}

s {
  color: #02b5db;
}

.header {
  position: relative;
}

.header a {
  position: absolute;
  top: 50px;
  left: 90px;
  display: inline-block;
  width: 100px;
  text-align: center;
  font-size: ;
  background-color: rgba(1, 1, 1, 0.8);
  color: rgba(134, 255, 185, 0.8);
  height: 90px;
  border-radius: 15px;
  font-size: 1.7rem;
  line-height: 1.9rem;
  font-style: italic;
  opacity: 0;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

.header:hover a {
  opacity: 1;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

span {
  color: #888;
}

@media (max-width: 600px) {
  h3 {
    font-size: 1.6rem;
  }

  ul {
    padding: 5px;
    min-width: 190px;
  }

  .hands {
    background-size: 100px;
    height: 125px;
    width: 100px;
  }

  iframe {
    width: 350px;
    height: 200px;
  }
}
