body {
  margin: 0;
  background-color: rgb(200, 155, 255);
  background-image: url(images/triangles.svg);
  background-size: 30%;
  font-family: 'Oxygen Mono', monospace;
  padding: 20px 0;
}

h3 {
  font-size: 1.2rem;
  line-height: 1.3rem;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.95);
  display: inline-block;
  float: left;
  padding: 5px 15px;
  text-transform: uppercase;
}

.excursions a {
  font-size: 1.6rem;
  line-height: 1.8rem;
}

section {
  width: 95vw;
  min-width: 200px;
  float: left;
  clear: both;
}

section, ul {
  float: left;
  clear: both;
}

section li a {
  font-size: 1rem;
  line-height: 1.2rem;
  padding: 5px 10px;
}

section li {
  margin: 2px;
  float: left;
  border: 2px solid rgba(1, 100, 80, 0.1);
  background-color: rgba(255, 10, 255, 0.55);
}

ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
}

a {
  color: #eee;
  text-decoration: none;
  display: block;
  padding: 2px 10px;
  -webkit-transition: 0.5s color;
  transition: 0.5s color;
}

a.on {
  color: #3fe2e2;
  -webkit-transition: 0.5s color;
  transition: 0.5s color;
}

a:hover {
  color: #f00;
  background-color: rgb(100, 200, 255);
}

s {
  color: #02b5db;
}

@media (max-width: 600px) {
  body {
    background-size: 100%;
  }

  h3 {
    font-size: 1.3rem;
  }

  ul {
    padding: 5px;
    min-width: 190px;
  }
}
