body {
  padding: 0;
  margin: 0;
  background: linear-gradient(180deg, #7732fd, #9922aa);
  background-size: 100%;
  background-attachment: fixed;
  font-family: Muli;
  overflow: hidden;
}

canvas {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
}

h1 {
  font-size: 1.3rem;
  padding: 10px;
  margin: 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
}

h1 a {
  text-decoration: none;
  color: #333;
}

h1 a:hover {
  color: #fff;
}

iframe {
  position: absolute;
  left: -9999px;
}

img {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

section {
  background-image: url(mountain.png);
  background-size: 100% 100%;
  background-attachment: fixed;
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
}

#mountain1 {
  opacity: 0;
  width: 100%;
  -webkit-transition: 1s all;
  transition: 1s all;
}

#mountain1.on {
  opacity: 1.0;
  width: 120%;
  -webkit-transition: 1s all;
  transition: 1s all;
}

#mountain2 {
  margin-left: -100px;
  -webkit-transition: 1s all;
  transition: 1s all;
}

#mountain2.on {
  margin-left: 100px;
  -webkit-transition: 1s all;
  transition: 1s all;
}