body {
  background: linear-gradient(0deg, #f0f, #f00);
  background-size: 10% 30%;
  font-family: 'Bungee Hairline';
  padding: 10px 20px;
  margin: 0;
  -webkit-transition: 1s background-size;
  transition: 1s background-size;
}

body.on {
  background-size: 100% 100%;
  -webkit-transition: 1s background-size;
  transition: 1s background-size;
}

.wrapper {
  background: linear-gradient(0deg, rgba(1, 1, 1, 0), rgba(31, 209, 170, 0.8));
  background-attachment: fixed;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

ul {
  list-style-type: none;
}

a {
  font-size: 3rem;
  text-decoration: none;
  color: #fff;
  -webkit-transition: 1s all;
  transition: 1s all;
  display: inline-block;
  float: left;
  margin: 5px 20px;
}

a:hover {
  color: #24bee3;
  text-shadow: #f63f2f 10px 0 0;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

h1 a {
  background-color: #ff676b;
  color: #eb85cf;
  -webkit-transition: 1s color;
  transition: 1s color;
  text-decoration: none;
  line-height: 3rem;
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg);
  margin: 0 10px;
}

h1 {
  color: #f0ffaa;
}

h1 a:hover {
  color: #4fce89;
  -webkit-transition: 1s color;
  transition: 1s color;
  text-shadow: none;
}

img {
  border-radius: 100%;
  float: right;
  width: 40vw;
  margin: 10px;
}

iframe {
  position: absolute;
  left: -9999px;
}

@media (max-width: 600px) {
  img {
    width: 100vw;
    height: 20vh;
    border-radius: 0;
    margin: 0;
  }
}